*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: lightgray;
}

.inner_header{
    width: 90%;
    height: 100% ;
    display: block;
    margin: 0 auto;
    background-color: lightgray;
}

.logo_container{
    height : 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: teal;
    height: 80%;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 50px;
    display: table-cell;
}

.navigation{
    float: right;
    height: 100%;
;
}
.navigation col{
    width: 75%;
    float: left;

}
.navigation a{
    height : 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height : 100%;
    color: teal;
    font-family: 'Montserrat';
    font-size: 20px;
}
.form{
    margin-top: 10px;
    font-family: 'Montserrat';
    margin-left: 5px;
    float: left;
    width: 40%;
    border: black 1px solid;
    display: inline-block;
    font-size: 20px;
}
.form h1{
 margin-left: 10px;
}
.form2 h1{
 margin-left: 10px;
}
.form2{
    margin-top: 10px;
    font-family: 'Montserrat';
margin-left: 5px;
    float: right;
    width: 40%;
    border: black 1px solid;
    display: inline-block;
}
.inForm{
     margin-top: 10px;
    margin-left: 10px;
}
.up{
  margin-bottom: 5px;
}
.submit{
    font-family: 'Montserrat';
    margin-top: 5px;
    margin-bottom: 5px;
     margin-left: 15px;
     font-size: 15px;
}

.form .inForm .send-btn{
    float: right;
    background: lightgray;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background;
}
.form .inForm .submit:hover {
    background: black;
    color: azure;
}

@media screen and (max-width: 738px) {
   .logo_container h1{
    color: teal;
    height: 80%;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 20px;
    display: table-cell;
}
    .navigation a li{
    display: table-cell;
    vertical-align: middle;
    height : 100%;
    color: teal;
    font-family: 'Montserrat';
    font-size: 10px;
}
}