*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #e9e9e9;
    overflow: hidden;
}
.main{
    padding-top: 200px;
    margin: 0 100px;
}
.profile-img{
    padding-top: 90px;
    float: left;
    width: 340px;
    height: 200px;
}
.profile-img img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    position: absolute;
    left: 50px;
}
/*
.grid-container{
    display: grid;
    position: absolute;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 100% 100% 100% 100% 100% ;
    top: 10%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 10vh;
    column-gap: 0px;
    row-gap: 0px;
}*/
.header{
    width: 100%;
    height: 10%;
    display: block;
    background-color: lightgray;
    position: fixed ;
}

.inner_header{
    width: 90%;
    height: 100% ;
    display: block;
    margin: 0 auto;
    background-color: lightgray;
}

.logo_container{
    height : 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: teal;
    height: 80%;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 50px;
    display: table-cell;
}

.navigation{
    float: right;
    height: 100%;

}

.navigation a{
    height : 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height : 100%;
    color: teal;
    font-family: 'Montserrat';
    font-size: 20px;
}
.name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.rankdriver{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.rankpassenger{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}


/* The sidebar menu */
/*.sidenav {
  height: 89%; !* Full-height: remove this if you want "auto" height *!
  width: 160px; !* Set the width of the sidebar *!
  position: fixed; !* Fixed Sidebar (stay in place on scroll) *!
  z-index: 1; !* Stay on top *!
  bottom: 0; !* Stay at the bottom *!
  left: 0;
  background-color: #111; !* Black *!
  overflow-x: hidden; !* Disable horizontal scroll *!
  padding-top: 20px;
}*/


/*!* The navigation menu links *!
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}*/

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover {
  color: #f1f1f1;
}*/

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}*/
}

@media screen and (max-width: 738px) {
   .logo_container h1{
    color: teal;
    height: 80%;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 20px;
    display: table-cell;
}

}